body {
  background: #f6f5f5;
  display: grid;
  grid-template-areas: "player enemy";
}
body .half {
  text-align: center;
  display: inline;
}
body .half .field_game {
  padding-left: 8%;
}
body .half #player_field {
  background: #276678;
  box-shadow: 0 0 70px #bcd5e9;
}
body .half #player_field .field {
  width: 75px;
  height: 75px;
  background-color: #d3e0ea;
}
body .half #player_field .miss {
  background-color: #ffefa1;
}
body .half #player_field .ship {
  background-color: #1687a7 !important;
}
body .half #player_field .ship:hover {
  background-color: #214151 !important;
}
body .half #player_field .crached {
  background-color: rosybrown;
}
body .half #player_field .ship_border {
  background-color: #eff7e1;
}
body .half #enemy_field {
  background: #276678;
  box-shadow: 0 0 70px #bcd5e9;
}
body .half #enemy_field .field {
  width: 75px;
  height: 75px;
  background-color: #d3e0ea;
}
body .half #enemy_field .field:hover {
  background-color: #16c79a !important;
  box-shadow: 0 0 30px #f1ffda;
}
body .half #enemy_field .miss {
  background-color: #ffefa1;
}
body .half #enemy_field .ship {
  background-color: #1687a7 !important;
}
body .half #enemy_field .ship:hover {
  background-color: #214151 !important;
}
body .half #enemy_field .crached {
  background-color: rosybrown;
}
body .half #enemy_field .ship_border {
  background-color: #eff7e1;
}
body .half #player {
  grid-area: player;
}
body .half #enemy {
  grid-area: enemy;
}