.main_field {
  display: grid;
  grid-template-columns: 50% 50%;
}

.half {
  text-align: center;
  display: inline;
}
.half .field_game {
  padding-left: 8%;
}
.half .ship_line {
  margin: 20px;
}
.half #map_field .no_ship, .half #ships_field .no_ship {
  width: 50px;
  height: 50px;
  background-color: #2b79b4;
}
.half #map_field .field, .half #ships_field .field {
  width: 50px;
  height: 50px;
  background-color: #d3e0ea;
}
.half #map_field .ship_border, .half #ships_field .ship_border {
  width: 50px;
  height: 50px;
  background-color: #eff7e1;
}
.half #map_field .ship_dont_put, .half #ships_field .ship_dont_put {
  width: 50px;
  height: 50px;
  background-color: #eff7e1;
}
.half #map_field .ship, .half #ships_field .ship {
  width: 50px;
  height: 50px;
  background-color: #1687a7;
}
.half #ships_field .ship {
  width: 50px;
  height: 50px;
  background-color: #1687a7;
}
.half .play_field {
  background: #276678;
  box-shadow: 0 0 70px #bcd5e9;
}
.half .play_field .field {
  width: 50px;
  height: 50px;
  background-color: #d3e0ea;
}
.half .play_field .miss {
  width: 50px;
  height: 50px;
  background-color: #ffefa1;
}
.half .play_field .ship {
  width: 50px;
  height: 50px;
  background-color: #1687a7 !important;
}
.half .play_field .ship:hover {
  background-color: #214151 !important;
}
.half .play_field .crached {
  width: 50px;
  height: 50px;
  background-color: rosybrown;
}
.half .play_field .ship_border {
  width: 50px;
  height: 50px;
  background-color: #eff7e1;
}
.half #enemy_field {
  background: #276678;
  box-shadow: 0 0 70px #bcd5e9;
}
.half #enemy_field .field {
  width: 50px;
  height: 50px;
  background-color: #d3e0ea;
}
.half #enemy_field .field:hover {
  background-color: #16c79a !important;
  box-shadow: 0 0 30px #f1ffda;
}
.half #enemy_field .no_shoot_field {
  width: 50px;
  height: 50px;
  background-color: #d3e0ea;
}
.half #enemy_field .crashed {
  width: 50px;
  height: 50px;
}
.half #enemy_field .miss {
  width: 50px;
  height: 50px;
  background-color: #ffefa1;
}