@page
@model Exam.Pages.Game.GameModel
@{
}

<div class="main_field">

    <div class="half" id="player">
        <h1 id="player_one_name">You</h1>
        <div class="field_game">
            <table class="play_field" id="player_one">
                
            </table>
        </div>
            
    </div>
    <div class="half" id="enemy">
        <h1 id="player_two_name">Enemy</h1>
        <div class="field_game">
            <table class="play_field" id="player_two">
            </table>
        </div>
    </div>
</div>
<div class="turn" id="turn">

</div>
<div id="player_id" hidden>@Model.Player.Id</div>
<script type="module" src="/js/game.js"></script>
<script src="/lib/jquery/dist/jquery.min.js"></script>