@page
@model MyApp.Namespace.GameModel
@{
}
<div class="main_field">

    <div class="half" id="player">
        <h1>You</h1>
        <div class="field_game">
            <table class="play_field" id="player_field">
                
            </table>
        </div>
            
    </div>
    <div class="half" id="enemy">
        <h1>Enemy</h1>
        <div class="field_game">
            <table class="play_field" id="enemy_field">
        
            </table>
        </div>
    </div>
</div>
<div class="turn" id="turn">

</div>
<script src="/js/game.js"></script>