@page
@model MyApp.Namespace.NewGameModel
@{
}

<div class="main_field">
    <div class="half" id="ships">
        <h1>Ships</h1>
        <div class="field_game" id="ships_field">
        </div>
    </div>

    <div class="half" id="map">
        <h1>Map</h1>
        <div class="field_game">
            <table class="play_field" id="map_field">
        
            </table>
        </div>
    </div>
</div>
<div id="go_to_game" hidden>
    Go to the game
</div>
<div id="player_id" hidden>@Model.Player.Id</div>
<div id="game_id" hidden>@Model.Game.Id</div>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/js/newgame.js"></script>
